@import '../../../assets/scss/helpers/grid.scss';

.daoPageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10rem;
  background: #000000;
  color: #FFFFFF;
  min-height: 600px;

  .pageTitle {
    font-family: Orbitron;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 125%;
    text-align: center;
  
    color: #FFFFFF;

    @include sm-width {
      font-size: 6.7vw;
    }
  }

  .daoName {
    font-family: Orbitron;
    font-weight: bold;
    font-size: 18px;
    line-height: 100%;
    margin-top: 20px;
    margin-bottom: 80px;
    text-align: center;

    @include sm-width {
      font-size: 4.1vw;
    }
  }

  // .designerPhotoWrapper {
  //   width: 35vw;
  //   max-width: 580px;
  //   min-width: 300px;
  //   overflow: hidden;
  //   border-radius: 7.6%;

  //   .imageContent {
  //     width: 100%;
  //   }    
  // }

  .description {
    font-family: Gilroy;
    font-size: 12px;
    line-height: 114%;
    width: 80%;
    // border-bottom: 2px solid #FFFFFF;
    padding: 20px;
    white-space: pre-wrap;
    
    text-align: center;

    @include sm-width {
      font-size: 1.6vw;
    }
  }

  .subTitle {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 55px;
    text-align: center;

    margin-top: 40px;
    padding-bottom: 10px;
    min-width: 300px;

    @include sm-width {
      font-size: 25px;
      min-width: 23vw;
    }

    @include md-width {
      font-size: 35px;
      min-width: 23vw;
    }

    @include lg-width {
      font-size: 35px;
      min-width: 23vw;
    }

    border-bottom: 2px solid #FFFFFF;
  }

  // .keyInsights {
  //   margin-top: 40px;
  //   margin-bottom: 50px;
  //   display: flex;
  //   flex-direction: column;
  //   width: 90%;

  //   @include sm-width {
  //     flex-direction: row;
  //     justify-content: center;
  //     flex-wrap: wrap;
  //   }
    
  //   .item {
  //     display: flex;
  //     flex-direction: row;
  //     justify-content: space-between;

  //     @include sm-width {
  //       margin-right: 20px;
  //       justify-content: flex-start
  //     }

  //     font-family: Gilroy;
  //     font-style: normal;
  //     font-size: 20px;
  //     line-height: 34px;
  //     text-align: center;

  //     @include sm-width {
  //       font-size: 28px;
  //     }

  //     .itemName {
  //       font-weight: 800;
  //       margin-right: 5px;
  //     }
  //   }
  // }

  // .socialBar {

  // }

  .viewDoc {
    margin-top: 40px;
    font-family: Gilroy;
    font-weight: 400;
    font-size: 12px;
    line-height: 110%;

    a {
      color: white;
      font-weight: 800;
      text-decoration: underline;
    }

    @include md-width {
      font-size: 15px;
    }
    
    @include xxl-width {
      font-size: 22px;
    }  
  }

  .patronCardsList {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    // padding: 40px;
    
    margin-top: 40px;
    flex-wrap: wrap;

    @include sm-width {
      flex-direction: row;
      align-items: flex-start;
      gap: 20px 5%;  
    }
  }
}