@import '.../../../assets/scss/helpers/grid.scss';

.wrapper {
  background-color: black;
  background-size: 100%;
  background-repeat: repeat;
  color: white;
  width: 100%;
  font-family: 'Inter';

  .titleWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem 2.5rem;
    padding-top: 10rem;
    padding-bottom: 7.5rem;

    @include md-width {
      padding: 0rem 7.5rem;
      padding-top: 10rem;
      padding-bottom: 7.5rem;
    }


    .title {
      font-family: Orbitron;
      font-style: normal;
      font-weight: 900;
      font-size: 30px;
      line-height: 125%;

      color: #FFFFFF;
    }

    p {
      font-family: Orbitron;
      font-weight: bold;
      font-size: 18px;
      line-height: 100%;
    }

    @include sm-width {
      .title {
        font-size: 6.7vw;
      }

      p {
        font-size: 4.1vw;
      }
    }
  }

  .realmsWrapper {
    display: grid;
    grid-template-columns: 1fr;
    background-color: transparent;
    column-gap: 5rem;
    row-gap: 10rem;
    padding: 7rem 2rem;

    @include lg-width {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
